<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add free time</title>
    
</head>
<body>
    <form>
        <div>
            weekday: <input type="text">
            stime: <input type="text">
            etime: <input type="text">
        </div>
        <div>
            weekday: <input type="text">
            stime: <input type="text">
            etime: <input type="text">
        </div>
        <div>
            weekday: <input type="text">
            stime: <input type="text">
            etime: <input type="text">
        </div>
        <button id="addline">add</button>
        <button id="submit">submit</button>
    </form>
    <script>
        url = "__URL__";
    </script>
    <script type="text/javascript" src="__PUBLIC__/Js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/addfreetime.js"></script>
</body>
</html>